<h2>ngx-owl-carousel-o</h2>
<app-ngx-owl-carousel-o class="right-item" [data]="itemsData" [config]="config1" [imagesCarousel]="true"></app-ngx-owl-carousel-o>
<app-ngx-owl-carousel-o class="left-item" [data]="itemsData" [config]="config2" [imagesCarousel]="true"></app-ngx-owl-carousel-o>
<app-ngx-owl-carousel-o [data]="itemsData" [config]="config3" [productsCarousel]="true"></app-ngx-owl-carousel-o>
<app-ngx-owl-carousel-o [data]="itemsData" [config]="config4" [productsCarousel]="true"></app-ngx-owl-carousel-o>
<app-ngx-owl-carousel-o [data]="itemsData" [config]="config5" [categoryCarousel]="true"></app-ngx-owl-carousel-o>